# model
model:
  name: "/home/work/aipr-jhna/huggingface_hub/Qwen2.5-Coder-1.5B"
  type: "qwen"
  temperature: 0.7
  top_p: 0.9
  max_length: 2048
  tokenizer_kwargs:
    trust_remote_code: true
  model_kwargs:
    trust_remote_code: true
    torch_dtype: "bfloat16"
  special_tokens: {}

# dataset
dataset:
  name: "/home/work/aipr-jhna/huggingface_hub/mbpp"
  type: "mbpp"
  train_split: "test[50:]"
  eval_split: "test[:50]"

seed: 42

# output
output:
  base_dir: "/home/work/aipr-jhna/output/mbpp"
  save_final_model: false
  verbose: false

# external
external:
  mode: "level_feedback"
  sandbox_slice: 1

# magrpo
magrpo:
  num_turns: 2
  num_train_epochs: 6
  per_device_train_batch_size: 1
  rollout_buffer_size: 128
  learning_rate: 3.0e-5
  eval_interval: 4
  eval_num_samples: 4
  num_generations: 4
  max_new_tokens: 256
  temperature: 0.8
  top_p: 0.95
  top_k: null
  joint_mode: aligned
  num_agents: 2
  discount: 0.9
  termination_threshold: -0.2

  logging_steps: 5
  save_steps: 200

reward_processor:
  enabled: true
  scale_factor: 1.0
  shift: -4
# wandb
wandb:
  project: "MAGRPO-MBPP"
  entity: "contrl"
  name: "magrpo_mbpp_qwen2.5-1.5b"
  dir: "/home/work/aipr-jhna/output/mbpp"
  tags: ["magrpo", "mbpp", "multi-agent"]
